 

 #footer_root{
  min-height: 240px;
  height: fit-content;
  background-color: rgb(30, 30, 30);
  direction: rtl;
  color:white; 
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
 width: 100%; 
}

.footer_container{
  margin-top: 15px;
  height: fit-content;
}

#lower_part_of_footer{
  width: 100%;
  text-align: center;
  height: fit-content;
  font-size: 30px;
  margin-bottom: -30px;
}

.footer_website_name{
  text-decoration: none;
  font-size: 40px;
  width: fit-content;
  margin: auto;
  text-align: center;
  display: block;
  font-family: 'FontAwesome';
  color:rgb(0, 255, 162);
}

/* #description_logo_container{
} */

#website_image{
  width: 120px;
  background-color: red;
  height: fit-content;
  /* background-color: red; */
}

#footer_description{
  margin-top:10px;
  /* background-color: red; */
  text-align: center;
}

.footer_title{
  font-size: 25px;
}

.footer_links{
  color:white;
  display: block;
  margin-top: 10px;
}

.footer_like_icon_container{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 5px;
}
.footer_like_icon_container a{
 font-size: 35px;
}
.footer_like_icon_container .fa-whatsapp{
color:#3cff85;
text-shadow: 0px 0px 4px #3cff85;
}

.footer_like_icon_container .fa-telegram{
color:#2020ff;
text-shadow: 0px 0px 4px #2020ff;
}
.footer_like_icon_container .fa-facebook{
  color:#2020ff;
  text-shadow: 0px 0px 4px #2020ff;
}
.footer_like_icon_container .fa-instagram{
  color:#ff00be;
  text-shadow: 0px 0px 4px #ff00be;
}